<app-header></app-header>

<div class="container-fluid">
    <h1>Contenido de Este Curso</h1>

    <ul id=listaModulos>
        <li>
            <img [routerLink]="['/clase']" routerLinkActive="router-link-active"  src="../../../assets/2.png" alt="">
            <div>
                <h3>NOMBRE MODULO</h3>
                <P>DESCRIPCION-- Lorem ipsum dolor sit amet consectetur adipisicing elit. At animi similique in tempore, reprehenderit aliquam obcaecati cumque odit qui dolor, iste soluta distinctio esse maxime non minima, deserunt neque quasi.</P>
            </div>
            
        </li>
        <li>
            <img [routerLink]="['/clase']" routerLinkActive="router-link-active"  src="../../../assets/2.png" alt="">
            <div>
                <h3>NOMBRE MODULO</h3>
                <P>DESCRIPCION-- Lorem ipsum dolor sit amet consectetur adipisicing elit. At animi similique in tempore, reprehenderit aliquam obcaecati cumque odit qui dolor, iste soluta distinctio esse maxime non minima, deserunt neque quasi.</P>
            </div>
            
        </li>
        <li>
            <img [routerLink]="['/clase']" routerLinkActive="router-link-active"  src="../../../assets/2.png" alt="">
            <div>
                <h3>NOMBRE MODULO</h3>
                <P>DESCRIPCION-- Lorem ipsum dolor sit amet consectetur adipisicing elit. At animi similique in tempore, reprehenderit aliquam obcaecati cumque odit qui dolor, iste soluta distinctio esse maxime non minima, deserunt neque quasi.</P>
            </div>
            
        </li>
    </ul>

</div>
