<app-header></app-header>

<div class="container-fluid">
    <h1>Notificaciones</h1>

    <ul>
        <li>
            <p>LISTA DE NOTIFICACIONES</p>
        </li>
        <li>
            <p>LISTA DE NOTIFICACIONES</p>
        </li>
        <li>
            <p>LISTA DE NOTIFICACIONES</p>
        </li>
        <li>
            <p>LISTA DE NOTIFICACIONES</p>
        </li>
        <li>
            <p>LISTA DE NOTIFICACIONES</p>
        </li>
        <li>
            <p>LISTA DE NOTIFICACIONES</p>
        </li>
    </ul>
</div>




