<app-header></app-header>
 <div class="container-fluid">
    <div id=izquierda>
        <h1>Nombre del Curso</h1> 
        <div id=img>
            <img src="../../../assets/barrita.png" alt="barra">
            <img src="../../../assets/clase.png" alt="img">
        </div>
        <div id=cursosRelacion>
            <h2>Cursos Relacionados</h2>
            <ul>
                <li>
                    <img src="../../../assets/2.png" alt="img">
                    <p>NOMBRE CURSO</p>
                    <P>modulo:clase</P>
                </li>
                <li>
                    <img src="../../../assets/2.png" alt="img">
                    <p>NOMBRE CURSO</p>
                    <P>modulo:clase</P>
                </li>
            </ul>

        </div>
    </div>
    <div id=derecha>
        <div id=comentario>
            <input type="text" class="form-control" placeholder="Escribe un comentario">
            <button class="btn btn-warning"> Relevante </button>
            <button class="btn btn-warning"> Nuevo </button>    
        </div>
        <div id=comentarios>
            <ul>
                <li>
                    <div id="perfil">
                        <p>ICONO</p>
                        <p> Comentario </p>    
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime deserunt expedita delectus nobis. Quod dolorum modi sunt perferendis nesciunt quae? Nesciunt quae dolorem quis laboriosam nisi qui illo molestiae deserunt!</p> 

                </li>
                <li>
                    <div id="perfil">
                        <p>ICONO</p>
                        <p> Comentario </p>    
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime deserunt expedita delectus nobis. Quod dolorum modi sunt perferendis nesciunt quae? Nesciunt quae dolorem quis laboriosam nisi qui illo molestiae deserunt!</p> 

                </li>
                <li>
                    <div id="perfil">
                        <p>ICONO</p>
                        <p> Comentario </p>    
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime deserunt expedita delectus nobis. Quod dolorum modi sunt perferendis nesciunt quae? Nesciunt quae dolorem quis laboriosam nisi qui illo molestiae deserunt!</p> 
                </li>
            </ul>

        </div>
    </div>
    



 </div>