<div class="container-fluid">
    <ul>
        <li id="boton">
            <h2 [routerLink]="['/perfil']" routerLinkActive="router-link-active" > Applicación </h2>
        </li>
        <li id="boton">
            <h2 [routerLink]="['/certificados']" routerLinkActive="router-link-active" > Certificados </h2>
        </li>
        <li id="boton">
            <h2 [routerLink]="['/cursos']" routerLinkActive="router-link-active" >Cursos</h2>
        </li>
        <li id="boton">
            <h2 [routerLink]="['/empleo']" routerLinkActive="router-link-active" >Bolsa</h2>
        </li>
        <li id="barra">
            <h1>|</h1>
            
        </li>
      
        <li id="buscador">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar en Aplicacion" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </li>
        <li id="boton">
            <h2 [routerLink]="['/notificacion']" routerLinkActive="router-link-active" >campana</h2> <!--cambiar por icono -->
        </li>
        <li id="boton">
            <h2>perfil</h2> <!--supongo que seran los datos del perfil conectado// poner icono -->
        </li>
    </ul>
    
      
</div>

